
.main__section{
    width: 445px;
}
.main{
    
    background-image: url("../images/Bitmap.png");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position:right;
    padding: 134px 85px 134px 85px;
    margin-bottom: 168px;
    
}
.main__title{
    font-family: Fraunces ;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 32px;
}

.main__text{
    
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    mix-blend-mode: normal;
    opacity: 0.8;
    color: #FEFCF7;
    margin: 0;
    margin-bottom: 56px;
    
}